div {
    border-style: solid;
    border-width: 5px;
    background-color: rgb(89,89,89);
    width: 550px;
}

dd{
	font-size: smaller;
	color: #9AA9AB;
   	margin-left: 140px;
   line-height: 1.6em;
}
dt {
	float: left;
	font-style: italic;
	font-family: sans-serif;
	color:#FFF;
	font-size: smaller;
	margin-left: 5px;

}

.warn {
	color: #EA2121;
	font-weight: bold;
}
.head{
	font-size: 100%;
	color: #9AA9AB;
}
.notanswer{
	color: #D4672D;
	font-weight: bold;
}
.whi{color: #DBD095;}
p{
	color: #9AA9AB; 
	font-family: sans-serif;
	
	margin-left: 5px;
}
#ball{
	width: 10px;
	height: 10px;
}