#head{
	background-color: #4CB737;
	
	color: #FFFFFF;
	
}
#head td{border: 1px solid #CEC0C0;}
table{
	border-collapse: collapse;
	border: 1px solid #CEC0C0;
	font-family: sans-serif;
	font-size: smaller;
}
td{
	border-right: 1px solid #CEC0C0;
}
.beige{
	background-color: #ECEBD8;
}
#mex{
	width: 40;
	height: 40;
	 background: url(imgs/flags.jpg) 50px 0;
}
.image{
	width: 28px;
	height: 20px;
}