#container{
	width: 300px;
	margin: 0 auto;

}
form
{
	
	border: 0px solid #CEC0C0;
	border-collapse: collapse;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#registro{
	background-color:#f1f1f1;
	font-family: sans-serif;
	
}
.reg{
	margin-left: 100%;
}